.marquee {
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px 0;
    border-radius: var(--radius);
    overflow: hidden;
    white-space: nowrap;

    /* ნაცვლად margin-top: -200px; */
    transform: translateY(-150px);
    /* ეს ვიზუალურად სწევს ზემოთ, ოღონდ სქროლვის ლოგიკას არ ურევს */

    position: relative;
    z-index: 5;
    margin-bottom: -100px;
    /* ეს დააშორებს ქვედა სექციას (Skills), რომ ზედმეტად დიდი ცარიელი ადგილი არ დარჩეს */
}

.marquee-content {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee-content span {
    font-size: 1.5rem;
    font-weight: 800;
    padding-right: 60px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}