@media (max-width: 1250px) {
    .layout-wrapper {
        flex-direction: column;
    }

    .header-menu {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    .main-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .sidebar-footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero-main-box {
        padding: 30px;
        min-height: 350px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }
}

@media (min-height: 800px) {

    .about-container,
    .personal-card-container {
        min-height: 85vh;
        /* მაღალ ეკრანებზე უფრო გაიზარდოს */
    }
}